{% extends 'base.html.twig' %}

{% block title %}Crear Producto{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-md-8">
            {% for producto in productos %} 
           <img src="{{ asset('uploads/imagenesProd/' ~ producto.imagen) }}"> 
            {% endfor %}
        </div>
    </div>

    


{% endblock %}
