{% extends 'base.html.twig' %}

{% block title %}Autenticado!{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-md-8">
            <h1>Bienvenido a la landing Page de Auth</h1>

            <p>Si estás viendo esto, es que has sido Autenticado correctamente.</p>
        </div>
    </div>

{% endblock %}
